  /* mobile */

  @media screen and (min-width: 446px) and (max-width: 599px) {
    
    body, html {
    height: 100%;
    scroll-behavior: smooth;
  }

  body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    background-color: #f4f4f4;
    color: #222;
    min-height: 100vh; 
  }

  /* div para ocupar todo o espaço restante */
  div#flexx {
    flex: 1;
  }

  /* banner do site */
  header { 
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #F7941D, 50%, black, 10%, #0012b1);
    margin-top: 9%;
    padding: 2% 0;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    border-bottom: 2px solid black;
    height: 0.5%;
    margin-bottom: 5%;
  }

  div#imgLogo {
    display: flex;
    height: 100%;
    width: 40%;
    justify-content: center;
  }

  div#imgLogo img {
    height: 100%;
    width: 100%;
    border-radius: 30%;
    border: 3px solid transparent;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, #0012b1, 50%, black, 10%, #F7941D) border-box;
  }

  /* navegação pelos tópicos do site */
  nav#navTops {
    background-color: #001f3d;
    position: fixed;
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 1.5%;
    z-index: 0;
  }

  nav#navTops a {
    color: #fff;
    padding: 1% 1%;
    text-decoration: none;
    font-weight: 700;
    font-size: 10pt;
    border-radius: 15px;
    margin-left: 0.3%;
    transition: background-color 0.3s;
    display: none;
  }

  nav#navTops a:hover {
    background-color: #F7941D;
  }

  /* conteúdo principal (matérias)*/
  main {
    max-width: 90%;
    margin: 2% auto 5% auto;
    display: flex;
    flex-direction: column;
  }

  article {
    background: #fff;
    padding: 4% 8% 4% 8%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    margin-bottom: 7%;
  }

  .news img {
    width: 100%;
    border-radius: 15px;
    border: 3px solid transparent;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(45deg, #F7941D, 50%, black, 0%, #004A8D) border-box; /* a porcentagem é quando para pra trocar de cor, se for 10% ent vai parar nos 10% a primeira cor e vai usar o restante da porcentagem (90%) para trocar para azul. OBS: tem como usar graus para definir o comportamento do gradient.*/
    margin-top: 1%;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
  }

  .news h2 {
    color: #F7941D;
    margin: 0% 0% 0% 0%;
    cursor: default;
  }

  .news p {
    font-size: 17px;
    line-height: 1.5;
    font-weight: 500;
    color: #444;
  }

  /* footer do site */
  footer {
    text-align: center;
    background: #222;
    color: #fff;
    padding: 1%;
    font-size: 14px;
    margin-top: auto;
  }

  /* formatação correta de todos os parágrafos */
  p {
    text-align: justify;
  }

  /* aside de navegação detalhada */
  aside#menu {
    display: flex;
    flex-direction: column;
    text-align: justify;
    background-color: #001f3d;
    height: 100vh;
    width: 65%;
    position: fixed;
    overflow-y: auto;
    z-index: 1;
  }

  aside#menu nav {
      width: 80%;
  }

  aside#menu nav li {
      list-style: none;
      padding: 4%;
      border-bottom: 1px white solid;
      text-align: justify;
      margin-bottom: 10%;
      margin-left: -8%;
  }

  aside#menu nav a {
      text-decoration: none;
      color: #F7941D;
      font-weight: 700;
      transition: color 0.3s;
      padding: 0%;
      font-size: 14pt;
  }

  aside#menu h3 {
    color: rgb(228, 227, 227);
    text-align: justify;
    margin-left: 4%;
    border-bottom: 1px solid #F7941D;
    padding-bottom: 8%;
    max-width: 75%;
  }

  /* enfeites da aside */
  aside#menu nav a:hover {
      color: #006ed4;
  }

      /* notícias velhas e novas */
      li.oldNL {
        display: none;
        transform: translateX(-50px);
        opacity: 0.5;
      }

      .oldNLShow {
        animation: showOld 0.2s forwards ease;
      }

      li.newNL {
        display: none;
        transform: translateX(-50px);
        opacity: 0.5;
      }

      .newNLShow {
        animation: showNew 0.2s forwards ease;
      }

      /* animação itens da lista */
      @keyframes showNew {
        to {
          opacity: 1;
          transform: translateX(0px);
        }
      }

      @keyframes showOld {
        to {
          opacity: 1;
          transform: translateX(0px);
        }
      }

      .listOff {
        animation: listO 0.14s forwards ease-in;
      }

      @keyframes listO {
        to {
          opacity: 0;
          transform: translateX(-100px);
        }
      }

      /* animação notícias */
      div.containerOC {
        position: absolute;
        margin-top: -8%;
        margin-left: 56%;
        width: 12%;
        height: 3%;
        cursor: pointer;
        transition: 0.3s;
        scale: 100%;
      }
      
      div.trace1 {
        width: 60%;
        height: 15%;
        background: white;
        border-radius: 15px;
        rotate: 45deg;
        margin-left: 0;
        margin-top: 25%
      }

      div.trace1_1 {
        width: 60%;
        height: 15%;
        background: white;
        border-radius: 15px;
        rotate: 135deg;
        margin-left: 38%;
        margin-top: -16.6%;
      }

      /* Animação abrir e fechar a lista do aside */


      /* abrir NewList */
      .openListNew {
        animation: oLN 0.3s forwards ease-in;
      }

      @keyframes oLN {
        to {
        rotate: 180deg;
        }
      }

      /* fechar NewList */
      .closeListNew {
        animation: cLN 0.5s forwards ease-in;
      }

      @keyframes cLN {
        to {
          rotate: 360deg;
        }
      }

      /* abrir OldList */
      .openListOld {
        animation: oLO 0.3s forwards ease-in;
      }

      @keyframes oLO {
        to {
        rotate: 180deg;
        }
      }

      /* fechar OldList */
      .closeListOld {
        animation: cLO 0.5s forwards ease-in;
      }

      @keyframes cLO {
        to {
          rotate: 360deg;
        }
      }

      /* animação de abertura da aside */
      .openMenuAnim {
        animation: menuOpen 0.6s normal ease-in;
      }

  /* animação de abertura da aside */
  .openMenuAnim {
    animation: menuOpen 0.6s normal ease-out 0s;
  }

  @keyframes menuOpen {
      from {
        transform: translateX(-250px);
        filter: opacity(0.3);
      }
      to {
        transform: translateX(0px);
        filter: opacity(1);
      }
  }

  /* animação para fechar a aside */
  .closeMenuAnim {
    animation: menuCloseA 0.6s normal ease-out 0s;
  }

  @keyframes menuCloseA {
      from {
        transform: translateX(0px);
        filter: opacity(1);
      }
      to {
        transform: translateX(-350px);
        filter: opacity(0.3);
      }
  }

  /* botão para abrir aside do menu */
  div#menuOpen {
    background-color: #F7941D;
    width: 11%;
    height: 100%;
    margin-left: 2.1%;
    cursor: pointer;
    padding: 0.5;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transition: filter 0.3s;
    border-radius: 10px;
  }

  div#menuOpen div{
    border-bottom: 1px black;
    border-radius: 15px;
    border-style: solid;
    margin: 10% auto 5% auto; 
    width: 60%;
    height: 4%;
    background-color: #001f3d;
  }

  span {
    display: flex;
    margin-left: 2.5%;
    color: white;
    align-items: center;
    font-weight: 700;
    font-size: 14pt;
  }

  /* close menu div */
  div#closeM {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    width: 15%;
    height: 5%;
    margin-top: -24.5%;
    margin-left: 80%;
    position: absolute;
    cursor: pointer;
    transition: 0.6s;
  }

  div#x1 {
    background-color: white;
    width: 100%;
    height: 15%;
    border-radius: 15px;
    rotate: 135deg;
  }

  div#x2 {
    background-color: white;
    width: 100%;
    height: 15%;
    border-radius: 15px;
    rotate: 45deg;
    margin-left: -100%;
  }

  div#closeM:hover {
    rotate: 90deg;
    filter: brightness(0.5)
  }

  /* enfeites da div open menu */
  div#menuOpen:hover {
    filter: brightness(0.6);
  }

  /* seção sobre nós */
  section#aboutUs {
    max-width: 90%;
    margin: -5% auto 0% auto;
    margin-bottom: 13%;
    display: flex;
    flex-direction: column;
  }

  section#aboutUs div{
    background-color: #fff;
    padding: 4% 8% 4% 8%;
    padding-bottom: 0%;
    border-radius: 15px;
    margin-bottom: 5%;
  }

  div#gridD {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  section#aboutUs h2 {
    color: #F7941D;
    margin: 0% 0% 0% 0%;
    cursor: default;
  }

  section#aboutUs h3 {
    color: #004A8D;
  }

  section#aboutUs p {
    font-size: 17px;
    line-height: 1.5;
    font-weight: 500;
    color: #444;
    text-align: justify;
  }

  p#lastT {
    font-size: 17px;
    line-height: 1.5;
    font-weight: 500;
    color: #444;
    text-align: justify;
    max-width: 100%;
    max-height: auto;
    overflow-y: scroll;
  }

  /* aba de vídeos */
  div#subDiv {
    display: flex;
    gap: 20%;
    overflow-x: auto;
  }

  div.divVids {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 2%;
  }

  video.vids {
    border-radius: 15px;
    border: 4px solid transparent;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(61deg, #F7941D, 50%, black, 10%, #004A8D) border-box;
    cursor: pointer;
  }

  div.divVids h4 {
    text-align: center;
    color: #F7941D;
    margin: 2% 0% 0% 0%;
    cursor: default;
  }

  div.divVids p {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    margin-top: -1%;
    color: #004A8D;
    cursor: default;
  }

  article#interview h2 {
    color: #F7941D;
    margin: 0% 0% 0% 0%;
    cursor: default;
  } 

}